h1 strong {color:red;}
h1 em {color:red; font-style: normal;}
h2 strong {color:red;}
h2 em {color:red; font-style: normal;}

.top5 { padding-top: 5px; }
.top10 { padding-top: 10px; }
.top20 { margin-top: 20px; }
.top30 { margin-top: 30px; }

.navbar {
  border-radius: 0px;
}

#banner-contact {
  color: white;
  z-index: 1010;
  position: absolute;
  width: 300px;
  
  margin-left: 30px;
}
#banner-contact p {
    margin: 0;
  }

#banner-contact a { color: white;}
#banner-contact a:hover { color: white;}

@media (max-width: 449px) {
  #banner-contact {
    top: 10px;
  }
  
}
@media (min-width: 450px) and (max-width: 767px) {
  #banner-contact {
    top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #banner-contact {
    top: 30px;
    font-size: 150%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #banner-contact {
    top: 50px;
    font-size: 200%;
    width: 400px;
  }
}
@media (min-width: 1200px) {
  #banner-contact {
    top: 70px;
    font-size: 200%;
    width: 400px;
  }
}


#footer {
  margin-top: 20px;

  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1010;
}

body { padding-bottom: 70px; }
/*@media (max-width: 767px) {
  .logo-inset {margin-left: -60px; padding-top: 20px;}
}
@media (max-width: 991px) {
  .logo-inset {margin-left: -60px; padding-top: 20px;}
}

.logo-inset {margin-left: -60px; padding-top: 20px;}*/

/*@font-face {
  font-family: 'franklinGothic';
  src: url(/fonts/ufonts.com_itc-franklin-gothic-lt-com-book-condensed.ttf);
}*/