<span id="banner-contact">
  <p>Your home clean specialists</p>
  <p>call <strong>022 395 7251</strong>
    or <a href="mailto:ladybug@ladybugclean.co.nz" target="_blank"><i class="glyphicon glyphicon-envelope"></i></a></p>
</span>

<span data-picture data-class="img-responsive">
  <span data-src="/images/banner-combined-sm.jpg"></span>
  <span data-src="/images/banner-combined-md.jpg" data-media="(min-width: 992px)"></span>
  <span data-src="/images/banner-combined-lg.jpg" data-media="(min-width: 1200px)"></span>
</span>



