<div class="row">
<span data-picture class="col-xs-8 col-sm-9">
  <span class="pull-left" data-src="/images/banner-background-xs.jpg"></span>
  <span class="pull-left" data-src="/images/banner-background-xs-sm.jpg" data-media="(min-width: 450px)"></span>
  <span class="pull-left" data-src="/images/banner-background-sm.jpg" data-media="(min-width: 768px)"></span>
  <span class="pull-left" data-src="/images/banner-background-md.jpg" data-media="(min-width: 992px)"></span>
  <span class="pull-left" data-src="/images/banner-background-lg.jpg" data-media="(min-width: 1200px)"></span>
</span>

<span data-picture class="col-xs-4 col-sm-3" data-class="img-responsive">
  <span class="pull-right top5" data-src="/images/brand-xs.jpg"></span>
  <span class="pull-right top5" data-src="/images/brand-xs-sm.jpg" data-media="(min-width: 450px)"></span>
  <span class="pull-right top20" data-src="/images/brand-sm.jpg" data-media="(min-width: 768px)"></span>
  <span class="pull-right top20" data-src="/images/brand-md.jpg" data-media="(min-width: 992px)"></span>
  <span class="pull-right top30" data-src="/images/brand-lg.jpg" data-media="(min-width: 1200px)" ></span>
</span>
</div>

