<form action=
"https://docs.google.com/forms/d/1YcFHdjo4X470WldHfONVPSFf-1ynoopYfOp4a9tq_co/formResponse"
method="post" id="ss-form" target="_self" onsubmit="" name=
"ss-form" role="form">
  <div style="margin-left: 2em; padding-left: 0">
    <div class="ss-form-question errorbox-good">
      <div dir="ltr" class="ss-item ss-item-required ss-text">
        <div class="ss-form-entry">
          <div class="form-group">
            <label for="entry_345137824">Subscribe for updates</label>
            <input type="email" name="entry.345137824"  class="form-control"
                  value="" class="ss-q-short" id="entry_345137824" dir=
                  "auto" aria-required="true" required="" title=
                  "Must be a valid email address" placeholder="enter your email address">
          </div>
        </div>
      </div>
    </div><input type="hidden" name="draftResponse" value=
    "[] "> <input type="hidden" name="pageHistory" value="0">
    <div class="ss-item ss-navigate">
      <table id="navigation-table">
        <tbody>
          <tr>
            <td class="ss-form-entry goog-inline-block" id=
            "navigation-buttons" dir="ltr">
              <input type="submit" name="submit" value="Submit" class="btn btn-default"
              id="ss-submit">
     
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
