<script type="text/javascript">var submitted=false;</script>

<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{window.location='http://ladybugclean.co.nz?thank-you';}"></iframe>

<form action=
  "https://docs.google.com/a/ladybugclean.co.nz/forms/d/1-S4OqxIm6RyZ6DWBUUFFIfNFN0W8Xz68zb9RHg0y9s4/formResponse"
  method="post" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;" name="ss-form">
    <div style="margin-left: 2em; padding-left: 0">
      <div class="ss-form-question errorbox-good">
        <div dir="ltr" class="ss-item ss-text">
          <div class="ss-form-entry">
            <div class="ss-q-title">
              <label aria-hidden="" class="ss-q-item-label aria-todo" for=
              "entry_906005434">Name</label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr"></div><input type="text"
            name="entry.906005434" value="" class="ss-q-short" id="entry_906005434" dir=
            "auto" aria-label="Name" title="">

            <div class="error-message"></div>

            <div class="required-message">
              This is a required question
            </div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div dir="ltr" class="ss-item ss-text">
          <div class="ss-form-entry">
            <div class="ss-q-title">
              <label aria-hidden="" class="ss-q-item-label aria-todo" for=
              "entry_118586404">Phone or Email</label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr"></div><input type="text"
            name="entry.118586404" value="" class="ss-q-short" id="entry_118586404" dir=
            "auto" aria-label="Phone or Email" title="">

            <div class="error-message"></div>

            <div class="required-message">
              This is a required question
            </div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div dir="ltr" class="ss-item ss-text">
          <div class="ss-form-entry">
            <div class="ss-q-title">
              <label aria-hidden="" class="ss-q-item-label aria-todo" for=
              "entry_2083270787">Address</label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr"></div><input type="text"
            name="entry.2083270787" value="" class="ss-q-short" id="entry_2083270787"
            dir="auto" aria-label="Address" title="">

            <div class="error-message"></div>

            <div class="required-message">
              This is a required question
            </div>
          </div>
        </div>
      </div>

      <div class="ss-form-question errorbox-good">
        <div dir="ltr" class="ss-item ss-paragraph-text">
          <div class="ss-form-entry">
            <div class="ss-q-title">
              <label aria-hidden="" class="ss-q-item-label aria-todo" for=
              "entry_61273661">Special Instructions</label>
            </div>

            <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
            <textarea name="entry.61273661" rows="8" cols="0" class="ss-q-long" id=
            "entry_61273661" dir="auto" aria-label="Special Instructions">
</textarea>

            <div class="error-message"></div>

            <div class="required-message">
              This is a required question
            </div>
          </div>
        </div>
      </div><input type="hidden" name="draftResponse" value="[] "> <input type="hidden"
      name="pageHistory" value="0"> <input type="hidden" name="fbzx" value=
      "-2924623899921827652">

      <div class="ss-item ss-navigate">
        <table id="navigation-table">
          <tbody>
            <tr>
              <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir=
              "ltr">
                <input type="submit" name="submit" value="Submit" id="ss-submit">

                <div class="ss-secondary-text">
                  Never submit passwords through Google Forms.
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>