---
layout: default
---

<div id="thankyou" class="hidden">
  <div class="alert alert-success col-xs-12 col-sm-6 col-sm-offset-3"><strong>Thank you for your inquiry, a member of our team will be in touch with you shortly.</strong></div>
</div>

<div class="row">
  <div class="col-sm-8">
    <!--<img src="holder.js/848x250" class="img-responsive">
    -->
  </div>
  <div class="col-sm-4">
    {% include quote-form.html %}
  </div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-md-8 col-sm-12" >
      {{ content }}
  </div>
  <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
    <img src="/images/free-quotes.jpg" class="img-responsive">
  </div>
</div>

  

