---
layout: default
---

<div id="thankyou" class="hidden">
  <div class="alert alert-success col-xs-12 col-sm-6 col-sm-offset-3"><strong>Thank you for your inquiry, a member of our team will be in touch with you shortly.</strong></div>
</div>

<div class="row">
  <div id="main-content" class="col-sm-8">
    <img src="/images/carousel1.jpg" class="img-responsive">

    {{ content }}
  </div>
  <div id="sidebar" class="col-sm-4">
    {% include quote-form.html %}

    <img src="/images/free-quotes.jpg" class="img-responsive">
  </div>
</div>


